<!doctype html>
<html lang="en" ng-app="LunchCheck">
<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div class="container">
    <h1>Lunch Checker</h1>
    <div ng-controller = 'LunchCheckController'>
    <div class="form-group">
        <input ng-model="dishes" id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control">
    </div>
    <div ng-class="form-group">
        <button ng-class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
    </div>
    <div class="form-group message">
        <div ng-show="data" class="alert alert-success">{{ message }}</div>
        <div ng-show="data" class="alert alert-danger">Please enter lunch dishes first</div>
    </div>
</div>

</div>
</body>
</html>
